.navBar{
  background-image: linear-gradient(rgb(255, 166, 0), rgb(243, 199, 116));
  height: 60px;
  width: 100%;
  display: flex;
  border-bottom: 3px solid black;}
.Logo{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items:center;}    
.enlaces{
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;}
.enlaces li{
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 0, 0);
  text-shadow: black 2px 1px;}
.enlaces li:hover{
  color: rgb(240, 135, 6);
  transform: scale(1.1,1.1);
  transition: 1s;}
.enlaces Link{
  text-decoration: none;
}
.icono{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;}
/*estilo logo*/
.menuHome {
  text-decoration: none;
  margin: 0 15px; }
.menuHome:hover {
  transform: scale(1.1, 1.1);
  transition: 1s; }
.menuOvalo {
  transform: rotate(-15deg);
  animation-name: ovalo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 150px;
  height: 65px;
  background-image: linear-gradient(yellow, orange);
  border-radius: 50%;
  box-shadow: black 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
.menuText {
  font-size: 18px;
  font-style: italic;
  color: red;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  padding: 0 5px;
  text-shadow: black 1px 1px;
  transform: rotate(15deg); }
.menuTextespecial {
  font-size: 31px;
  text-shadow: black 2px 2px;
  animation-name: logo;
  animation-duration: 1s; }
.cart{
  display: flex;
}
.carrito{
  width: 50px;
  height: 50px;
  margin-top: 10px;}
.carrito:hover{
  transform: scale(1.2,1.2);
  transition: 1s;
}
.cart p{
  background-color: red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: white;
  font-weight: 900;
  text-align: center;
  margin-left: -14px;
  font-size: 11px;
}
.contador{
  margin: auto;
  padding: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contador h4{
  color: rgb(129, 5, 5);
  font-weight: 700;
}
.contador p{
  font-weight: 700;
}
.botonera{
  width: 90%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 30px;
  margin-bottom: 10px;
}
.btnSign{
  width: 30px;
  height: 30px;
  font-weight: 800;
  font-size: 1em;
  background-color: rgb(233, 179, 79);
}
.btnSign:hover{
  background-color: rgb(245, 78, 27);
}
.Producto{
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: rgb(238, 194, 74);
  padding: 10px;
  border-radius: 15%;
  float: left;
  margin: 20px 50px;
}
.Producto:hover{
  background-color: crimson;
  transition: 1s;
}
.Producto img{
  width: 150px;
  height: 120px;
}
.Producto img:hover{
  transform: scale(1.2,1.2);
  transition: 1s;
}
.botoneraCart{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
.btnAgregar{
  background-color: rgb(238, 194, 74);
  font-weight: 800;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 2px 2px black;
  padding: 10px;
  width: 150px;
}
.btnAgregar:hover{
  background-color: rgb(245, 78, 27);
}
.ItemDetail{
  padding: 25px;
}
.ItemDetail h1{
  text-align: center;
  margin-bottom: 70px;
}
.ItemDetail img{
  float: left;
  width: 350px;
  height: 350px;
  margin-right: 50px;
}
.ItemDetail p{
  font-size: 1.2em;
  font-weight: 600;
}
.itemCount{
  float: left;
}
.estiloEnlace{
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 15%;
  padding: 10px;
}
.cartContainer{
  display: flex;
  flex-wrap: wrap;
}
.cartLeft{
  width: 60%;
}
.cartRigth{
  width: 30%;
  height: auto;
  max-height: 500px ;
  margin: 0 50px;
  background-color: rgba(219, 75, 31, 0.432);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.productoCart{
  width: 90%;
  height: auto;
  background-color: rgba(248, 215, 143, 0.363);
  margin-bottom: 15px;
  padding: 10px 50px 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.cajaCart{
  width: 50%;
  text-align: center;
}
.cajaCart img{
  width: 150px;
  height: 150px;
  margin-right: auto;
}
.datosCart{
  width: 40%;
  text-align: center;
  margin-left: 10%;
}

.loading{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img{
  width: 150px;
  height: 150px;
}
.emptyCar{
  background-color: rgba(250, 178, 23, 0.719);
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.emptyCar img{
  width: 65%;
  height: 65%;
  opacity: 0.9;
}
.emptyTitle{
  text-align: center;
  width: 100%;
}
.textoLink{
  font-size: 1em;
  font-weight: 700;
  padding: 10px;
  background-color: rgba(240, 50, 16, 0.623);
  color: white;
  border-radius: 15%;
  border: none;
}
.textoLink:hover{
  background-color: rgba(23, 146, 168, 0.678);
  transition: 1s;
}
.tituloCart{
  text-align: center;
}
.ticket{
  width: 200px;
  height: 200px;
  background-color: black;
}
.subtotalCarrito{
  font-weight: 700;
}
.totalCarrito{
  font-weight: 800;
  font-size: 1.2em;
}
.none{
  background-color: rgb(214, 207, 189);
  font-weight: 800;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 2px 2px rgb(63, 62, 62);
  padding: 10px;
  width: 150px;
}
.envioGratis{
  margin: 50px auto 0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(248, 215, 143, 0.363);
}
.envioGratis img{
  width: 230px;
  height: 200px;
  border-radius: 35%;
}
.envioGratis h4{
  text-align: center;
  font-size: 2em;
  color: rgb(238, 192, 39);
  text-shadow: rgb(80, 0, 0) 2px 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.swal-footer {
  color: rgb(238, 192, 39);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}