.navBar{
  background-color: rgb(223, 169, 20);
  height: 60px;
  width: 100vw;
  display: flex;
  border-bottom: 3px solid black;}
.Logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items:center;}    
.enlaces{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;}
.enlaces li{
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 0, 0);
  text-shadow: black 1px 1px;}
.icono{
  width: 20%;}
/*estilo logo*/
.menuHome {
  text-decoration: none;
  margin: 0 15px; }
.menuHome:hover {
  transform: scale(1.1, 1.1);
  transition: 1s; }
.menuOvalo {
  transform: rotate(-15deg);
  animation-name: ovalo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 150px;
  height: 65px;
  background-image: linear-gradient(yellow, orange);
  border-radius: 50%;
  box-shadow: black 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
.menuText {
  font-size: 18px;
  font-style: italic;
  color: red;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  padding: 0 5px;
  text-shadow: black 1px 1px;
  transform: rotate(15deg); }
.menuTextespecial {
  font-size: 31px;
  text-shadow: black 2px 2px;
  animation-name: logo;
  animation-duration: 1s; }